<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <script type="text/javascript">
            function go() {
                window.location=document.getElementById("cidades").value;
            }
        </script>
        <meta charset="utf-8" />       
        <title>{% block titulo %}EntregAqui{% endblock %}</title>
    </head>
    <body>
        <div id="barra_menu">
        {% block barra_menu %}
        {% endblock %}
        </div>
        <div id="barra_topo">
        {% block barra_topo %}
        {% endblock %}
        </div>
        
        <div>
        <span>
        {% block barra_lateral %}
        {% endblock %}
        </span>
        <span>
        {% block conteudo %}
        {% endblock %}
        </span>
        </div>
    </body>
</html>
