<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    	<link rel="stylesheet" type="text/css" href="/static/style/style.css" />
    	<link rel="stylesheet" type="text/css" href="/static/style/popup.css" />
    	
    	<script src="/static/js/jquery-1.6.4.min.js" type="text/javascript"></script>  
    	<script src="/static/js/popup.js" type="text/javascript"></script>  
    	<script src="/static/js/entregaqui.js" type="text/javascript"></script>          
               
        <meta charset="utf-8" />       
        <title>{% block titulo %}EntregAqui{% endblock %}</title>
    </head>
    <body>
        <div id="barra_menu">
        {% block barra_menu %}
        {% endblock %}
        </div>
        <div id="barra_topo">
        {% block barra_topo %}
        {% endblock %}
        </div>
        
        <div>
        <span>
        {% block barra_lateral %}
        {% endblock %}
        </span>
        <span>
        {% block conteudo %}
        {% endblock %}
        </span>
        </div>
    </body>
</html>
