<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style/style.css" />
    	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}style/popup.css" />
    	
    	<script src="{{STATIC_URL}}js/jquery-1.6.4.min.js" type="text/javascript"></script>  
    	<script src="{{STATIC_URL}}js/popup.js" type="text/javascript"></script>  
    	<script src="{{STATIC_URL}}js/entregaqui.js" type="text/javascript"></script>    	
    	
        <script type="text/javascript">
            function go() {
                window.location=document.getElementById("cidades").value;
            }
            
            function reclama() {
            	var reclamacao = document.getElementById("campoReclamacao").value;
				alert('Reclamei! Reclamação:' + reclamacao);
			}
        </script>
        <meta charset="utf-8" />       
        <title>{% block titulo %}EntregAqui{% endblock %}</title>
    </head>
    <body>
        <div id="barra_menu">
        {% block barra_menu %}
        {% endblock %}
        </div>
        <div id="barra_topo">
        {% block barra_topo %}
        {% endblock %}
        </div>
        
        <div>
        <span>
        {% block barra_lateral %}
        {% endblock %}
        </span>
        <span>
        {% block conteudo %}
        {% endblock %}
        </span>
        </div>
    </body>
</html>
