<!DOCTYPE html>
<html lang="pt-BR">	
		<head>
	    	<link rel="stylesheet" type="text/css" href="/static/style/styleForms.css" />    	
	    </head>
    
		<body>			
			<form action="/cadastro/" method="post" id="form_cadastro"> {% csrf_token %}
			    <center>
			    	<b><font face="Tahoma" size="4" color="black">Preencha os dados abaixo</font><b>
			    	<table class="table_form">
			        	{{form}}
			    	</table> <br />
			    	<input type="submit" value="Continuar" />
			    </center>
			</form>
		</body>	
</html>
