{% extends "home_logado.html" %}

{% block titulo %}EntregAqui - {{cidade}}{% endblock %}

{% block conteudo %}
    <div>
    		<div class="categorias" style="width: 1100px; left: 50%;margin-left: -550px;position: absolute;">
    {% for categoria in categorias %}
	    <div class="oferta">
	    	<a target="_blank" href="/{{cidade}}/{{categoria.nome}}" class="topoOferta" >
	  			<h2 style="display:inline;margin:0;font-size:24px"><center>{{categoria.nome}}</center></h2></a>
				<div class="conteudoOferta">
					<div class="divimagem">
						<a target="_blank" class="imagemOferta" />
						<img width="176" height="131" src="{{categoria.imagem}}" alt="Deu aguia" />
			</a>
					</div>
				<h3 class="textoOferta" style="margin: 3px 0 2px 0">{{categoria.descricao}}</h3>
				</div>
					
		</div>
	    <!-- li id="categoria_{{categoria.id}}"><a href="/{{cidade}}/{{categoria.nome}}">{{categoria.nome}}</a></li -->
	    {% endfor %}
	    </div>
    </div>
{% endblock %}