{% extends "base.html" %}

{% block barra_menu %}
<div class="barra_info_topo">
    <label class="label_cabecalho"> <b><font face="Tahoma" size="4" color="white">Preguica Delivery: O seu site favorito de entregas online!</font><b> </label>
    <a href="#?w=450&h=220" id="popup_parceria" rel="popup_source" class="poplight" source="parceria/"> <b><font face="Tahoma" size="2" color="white">Quero me tornar parceiro</font><b> </a>
    <a href="#?w=300&h=350" id="link_cadastrar" rel="popup_source" class="poplight" source="cadastro/"> <b><font face="Tahoma" size="2" color="white">Cadastre-se!</font><b> </a>
    <a href="#?w=300&h=150" id="link_login" rel="popup_source" class="poplight" source="login/"> <b><font face="Tahoma" size="2" color="white">Login</font><b> </a>
    <label class="label_logado"> <b><font face="Tahoma" size="2" color="white">Ola, {{usuario_logado}}!</font><b> </label>   
</div>
{% endblock %}


{% block barra_topo %}
<select id="cidades" style="margin-left: 550px; margin-top: 30px" onchange="go()">
    <option>--Escolha uma cidade--</option>
    {% for endereco in enderecos %} <option value="/{{ endereco.cidade }}" >{{ endereco.cidade }}</option>
    {% endfor %}
</select>

<a href="#?w=400&h=240" rel="popup_source" class="poplight" source="disponibilidade_cidade/"> <b><font face="Tahoma" size="2" color="black">Informe-me quando estiver disponivel na minha cidade</font><b> </a>


<!-- Essa div eh usada nas popups, o conteudo eh carregado no javascript -->
<div id="popup_source" class="popup_block">
	
</div>



{% endblock %} 