<!DOCTYPE html>
<html lang="pt-BR">
	
		<body>			
			<center>				
				<div>
			    <h2><b><font  face="Tahoma" size="5" color="black">Por favor, efetue login:</font><b></h2>
			    <form>
					<label> <b><font face="Tahoma" size="2" color="black">Nome de usuario</font><b> </label> <br />
					<b><font  face="Tahoma" size="3" color="black"></font>  <input id="campo_username_login" type="text" name="nome" size="30" /><br />
					<label> <b><font face="Tahoma" size="2" color="black">Senha</font><b> </label> <br />
					<b><font  face="Tahoma" size="3" color="black"></font>  <input id="campo_senha_login" type="text" name="email" size="30" /> <br /> <br />
					<a href="#"> <b><font face="Tahoma" size="2" color="black">Cadastre-se!</font><b> </a> <br />
					<a href="#"> <b><font face="Tahoma" size="2" color="black">Esqueceu sua senha?</font><b> </a> <br />
					<img src="/static/images/login_image.gif" style="margin-left: 50px; margin-top: 30px" alt="Login" class="botao_login" />
				</form>
				</div>
			</center>
		</body>	
</html>