<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fale Conosco</title>
<link rel="stylesheet" type="text/css" href="/static/style/style.css" />  
<script src="/static/js/entregaqui.js" type="text/javascript" /> 
</head>

<body>
<div id="div_obrigado_fc" align="center">
	<p>Mensagem enviada com sucesso. Obrigado!</p>
	<br/>
	<img id="sloth_img" src="/static/images/sloth.gif" width=200 height=150/>
</div>
<p>&nbsp;</p>
</body>
</html>