{% extends "painel_usuario.html" %}

{% block conteudo %}

<table >
  <tr>
    <td width="100">Loja</td>
    <td width="300">Produtos</td>
    <td width="50">Valor</td>
    <td width="50">Data</td>
    <td width="80">Status</td>
  </tr>
  {% for pedido in pedidos %}
  <tr>
    <td>{{pedido.loja.nome}}</td>
    <td>{% for pedido in pedido.produtos_pedido.all %}
        {{pedido.produto.nome}}: {{pedido.quantidade}}
        {% if forloop.last %}
        {% else %}
        , 
        {% endif %}
        {% endfor %}
    </td>
    <td>R${{pedido.total_pago}}</td>
    <td>{{pedido.data_criacao}}</td>
    <td>{{pedido.status}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
