<!DOCTYPE html>
<html lang="pt-BR">	
		<body>			
			<form action="/parceria/" method="post"> {% csrf_token %}
			    <center>
			    	<b><font face="Tahoma" size="4" color="black">Deseja se tornar parceiro do Preguica Delivery?</font><b>
			    	<b><font face="Tahoma" size="3" color="black">Preencha os dados abaixo</font><b>
			    	<table class="table_form">
			        	{{form}}
			    	</table> <br />
			    	<input type="submit" value="Continuar" />
			    </center>
			</form>
		</body>	
</html>