<!DOCTYPE html>
<html lang="pt-BR">	
		<body>			
			<center>				
				<div>
				    <h2><b><font  face="Tahoma" size="5" color="black">Deseja se tornar parceiro do Preguica Delivery?</font><b></h2>
				    <p><font  face="Tahoma" size="4" color="black">Por favor, preencha o formulario abaixo</font></p>
				    <form>
				    	<label> <b><font face="Tahoma" size="2" color="black">Nome da empresa</font><b> </label> <br />
						<b><font  face="Tahoma" size="3" color="black"></font>  <input id="campo_empresa" type="text" name="empresa" size="30" /><br />
						<label> <b><font face="Tahoma" size="2" color="black">Endereco de e-mail</font><b> </label> <br />
						<b><font  face="Tahoma" size="3" color="black"></font>  <input id="campo_email" type="text" name="email" size="45" /> <br />
						<label> <b><font face="Tahoma" size="2" color="black">Telefone para contato:</font><b> </label> <br />	
						<b><font  face="Tahoma" size="3" color="black"></font>  <input id="campo_contato" type="text" name="contato" /> <br />
						<img src="/static/images/icone-enviar.png" style="margin-left: 200px; margin-top: 30px" alt="Envie sua solicitacao" class="botao_enviar_parceiro" />
					</form>
				</div>
			</center>
		</body>	
</html>