{% extends "categorias.html" %}

{% block titulo %}Preguica Delivery - {{cidade}} - {{categoria}} - {{loja}}{% endblock %}

{% block conteudo %}

<form action="/{{cidade}}/{{categoria}}/{{loja}}">
    <table>
    {% for produto in produtos %}
        <tr><th><label for="produto_{{produto.id}}">{{produto}}</label></th><td><input id="produto_{{produto.id}}" type="number" name="quantidade_{{produto.id}}"/></td></tr>
    {% endfor %}
    </table>
    <input type="submit" value="Comprar"/>
</form>

{% endblock %}
