{% extends "categorias.html" %}

{% block titulo %}Preguica Delivery - {{cidade}} - {{categoria}} - {{loja}}{% endblock %}

{% block conteudo %}

<form action="/{{cidade}}/{{categoria}}/{{loja}}/" method="post"> {% csrf_token %}
    <table class="table_form">
    {% for produto in produtos %}
        <tr><th><label for="produto_{{produto.id}}">{{produto}}:</label>
        </th><td><input id="produto_{{produto.id}}" type="number" name="quantidade_{{produto.id}}" value="0" min="0" max="99" size="1"/></td></tr>
    {% endfor %}
    </table>
    <input type="submit" value="Comprar"/>
</form>

{% endblock %}
