.logo_loja {
	margin-left: 40px;
	margin-top: 10px;
	float: left;
}

.barra_pagamento {
	float: right;
	margin-top: 15px;
}

.barra_banners {
	width: 10px;
	float: left;
}

.barra_informacoes {
	width: 900px;
	height: 120px;
	border: 10px;
	border-bottom: 1px solid black;
}

.link_fale_com_loja, .link_carrinho {
	color: #994D26;
	text-decoration: none;
	position: relative;
	bottom: 3px;
}

.box_fale_com_loja {
	float: left;
	margin-right: 120px;
	cursor: pointer;
}

.box_carrinho {
	cursor: pointer;
}


.container_produtos {
	margin-top: 70px;
	margin-left: 50px;
	width: 900px;
	
}

#button_comprar {
	background-image: url("/static/images/bt-product-unselected.png");
	border: 0px solid black;
	width: 80px;
	height: 35px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	background-color: #f9f9de;
}

#button_comprar:hover {
	background-image: url("/static/images/bt-product-selected.png");
}

.elemento_produto {
	float: left;
	margin-right: 40px;
	margin-bottom: 30px;
}

.status_loja_label {
	color: #994D26;
}

.status_loja {
	color: green;
}

input[type=number] {
	border:1px solid #994D26;
	background-color:#994D26;
	font-weight: bolder;
	padding:5px;
	font-size:12px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
}

.label_adicao {
	text-align: center;
	color:#994D26;
	font-weight: bold;
	font-size: 25px;
}

.confirmacao_caixa_central {
	margin-top: 30px;
	margin-right: 20px;
}

.barra_banners {
	display: block;
}

.banner {
	margin-bottom: 10px;
}

.conteudo {
	float: left;
	margin-left: 20px;
}

.label_preco {
	color:#994D26;
	font-weight: bold;
}
